[submodule "src/components/GrEditor"]
	path = src/components/GrEditor
	url = https://github.com/phodal/GrEditor
[submodule "assets/growth-content"]
	path = assets/growth-content
	url = https://github.com/GrowthStudio/growth-content.git
[submodule "src/containers/practises/moregex/www"]
	path = src/containers/practises/moregex/www
	url = https://github.com/phodal/moregex
